@import "tailwindcss";
@import "@fontsource/inter";

@layer base {
  body {
    @apply bg-gray-900 text-gray-100;
    font-family: "InterVariable", sans-serif;
    height: 100vh;
    margin: 0;
  }
}